<img src="https://th.bing.com/th/id/R.df818c6db2fe74a4230ccc863663226e?rik=Bt%2fD%2bcd60%2bv0KQ&pid=ImgRaw&r=0" alt="<%= @user.name %>'s Photo" />
<h1><%= @user.name %></h1>
<p>Number of posts: <%= @user.posts_counter %></p>
<p><strong>Bio</strong><br> <%= @user.bio %></p>

<ul>
  <% @user.posts.each do |post| %>
    <li>
      <%= post.title %><br>
      <%= truncate(post.text, length: 50, separator: ' ') %> <br>
      Comments: <%= post.comments_counter %>
      Likes: <%= post.likes_counter %>
    </li>
  <% end %>

  <a href="<%= user_posts_path(@user) %>">See all posts</a>
</ul>