<html>
  <head>
    <%= stylesheet_link_tag "styles" %>
  </head>

  <body>
    <div class='container'>
      <div class='user-card'>
        <%= render partial: 'shared/user_card', locals: { user: @user } %>
      </div>

      <% @user.recent_posts.each do |post| %>
          <a href="<%= user_post_path(@user, post) %>">
            <div class='post-container'>
              <h2 class='post-title'><%= post.title %></h2>
              <p><%= truncate(post.text, length: 50, separator: ' ') %></p>
              <p class='counters'>Comments: <%= post.comments_counter %>, Likes: <%= post.likes_counter %></p>
            </div>
            
            <% if post.recent_comments.present? %>
              <div class='comments-section'>
                <% post.recent_comments.each do |comment| %>
                  <p class='comment'><%= comment.author.name %>: <%= comment.text %></p>
                <% end %>
              </div>
            <% end %>
          </a>
        <% end %>
    </div>
  </body>