<html>
  <head>
    <%= stylesheet_link_tag "styles" %>
  </head>

  <body>
    <%= form_with(model: @post.likes.new, local: true, url: user_post_likes_path(@user, @post)) do |form| %>
      <%= form.hidden_field :post_id, value: @post.id %>
      <%= form.submit 'Like', class: 'like-button' %>
    <% end %>

    <div class='container'>
      <div class='post-container'>
        <p>This post was written by: <%=@post.author.name %></p>
        <h2 class='post-title'><%= @post.title %></h2>
        <p><%= @post.text %></p>
        <p class='counters'>Comments: <%= @post.comments_counter %>, Likes: <%= @post.likes_counter %></p>
      </div>
      
      <% if @post.comments.present? %>
        <div class='comments-section'>
          <% @post.comments.includes([:author]).each do |comment| %>
            <p class='comment'><%= comment.author.name %>: <%= comment.text %></p>
          <% end %>
        </div>
      <% end %>
    </div>
    <%= link_to 'Add Comment', new_user_post_comment_path(@user, @post) %>
  </body>
</html>