<h1>'<%= @post.title %>,' by <%= @user.name %></h1>

Comments: <%= @post.comments_counter %>
Likes: <%= @post.likes_counter %> <br>

<p>
  <% @post.comments.each do |comment| %>
    <%= comment.author.name %>: <%= comment.text %> <br>
  <% end %>
</p>